---
import Paginator from "../../../components/Paginator.astro";
import MapLayout from "../../../layouts/MapLayout.astro";
import { generateCategoryData } from "../../../utils/games_cat.js";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../*.mdx");
  const sortedPosts = allPosts.sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.ate).valueOf()
  );
  const allCategoriesUnique = new Set();
  sortedPosts.forEach((post) => {
    post.frontmatter.categories &&
      post.frontmatter.categories.map((category) => {
        allCategoriesUnique.add(category);
      });
  });
  const allCategoriesData = generateCategoryData(allCategoriesUnique);
  // map through the categories array
  return allCategoriesData.map((category) => {
    // filter the posts that match the given category
    const posts = sortedPosts.filter((post) =>
      post.frontmatter.categories.includes(category.name)
    );
    return {
      params: { slug: category.slug },
      props: {
        category: category.name,
        posts: posts,
      },
    };
  });
}

const { category, posts } = Astro.props;
const title = `Games tagged with ${category}`;
const description = `Blog posts tagged with ${category}`;
---

<MapLayout title={title} description={description}>
  <section class="pod">
    <p class="title-bar">Games with {category}</p>
    <section class="inner-pod cards-flex">
      <ul class="games-ul cards">
        {
          posts.map((page) => (
            <li class="game-card">
              <a class="inner-game-card" href={page.url}>
                <img
                  class="game-banner"
                  src={page.frontmatter.image}
                  alt={page.frontmatter.title}
                />
                <div class="game-card-meta">
                  <h1 class="game-title">{page.frontmatter.title}</h1>

                  {page.frontmatter.categories.map((tag) => (
                    <a class="game-tag pod" href={`/games/categories/${tag}`}>
                      {tag}
                    </a>
                  ))}
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </section>
</MapLayout>

<style>
  ul.games-ul {
    list-style-type: none;
  }
  a.game-card {
    padding: 0.75rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-bg-container);
    border: var(--color-border-subtle);
    border-radius: var(--radius-1);
    min-height: 120px;
    max-height: 120px;
  }
  img.game-banner {
    width: 100px;
  }
</style>
