---
import MapLayout from "../../../layouts/MapLayout.astro";
import { generateCategoryData } from "../../../utils/games_cat.js";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../*.mdx");
  const sortedPosts = allPosts.sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.ate).valueOf()
  );
  const allCategoriesUnique = new Set();
  sortedPosts.forEach((post) => {
    post.frontmatter.categories &&
      post.frontmatter.categories.map((category) => {
        allCategoriesUnique.add(category);
      });
  });
  const allCategoriesData = generateCategoryData(allCategoriesUnique);
  // map through the categories array
  return allCategoriesData.map((category) => {
    // filter the posts that match the given category
    const posts = sortedPosts.filter((post) =>
      post.frontmatter.categories.includes(category.name)
    );
    return {
      params: { slug: category.slug },
      props: {
        category: category.name,
        posts: posts,
      },
    };
  });
}

const { category, posts } = Astro.props;
const title = `Games tagged with ${category}`;
const description = `Blog posts tagged with ${category}`;
---

<MapLayout title={title} description={description}>
  <ul class="games-ul cards">
    {
      posts.map((page) => (
        <li>
          <a class="game-card" href={page.url}>
            <span>
              <img
                class="game-banner"
                src={page.frontmatter.image}
                alt={page.frontmatter.title}
              />
            </span>
            <span>{page.frontmatter.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</MapLayout>

<style>
  ul.games-ul {
    list-style-type: none;
  }
  a.game-card {
    padding: 0.75rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-bg-container);
    border: var(--color-border-subtle);
    border-radius: var(--radius-1);
    min-height: 120px;
    max-height: 120px;
  }
  img.game-banner {
    width: 100px;
  }
</style>
