---
import MapLayout from "../../layouts/MapLayout.astro";
import Paginator from "../../components/Paginator.astro";
const allPosts = await Astro.glob("./*.mdx");
const allCategoriesUnique = new Set();

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.mdx");
  const sortedPosts = allPosts.sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
  return paginate(sortedPosts, { pageSize: 5 });
}

allPosts.forEach((post) => {
  post.frontmatter.categories &&
    post.frontmatter.categories.map((category) => {
      allCategoriesUnique.add(category);
    });
});

const title = "NaviNet Games";
const description = "Play all your favorite flash games on NaviNet Games";

const { page } = Astro.props;
---

<MapLayout title={title} description={description}>
  <section class="pod">
    <p class="title-bar">All Games</p>
    <section class="inner-pod cards-flex">
      <ul class="cards">
        {
          page.data.map((page) => (
            <li class="game-card">
              <a class="inner-game-card" href={page.url}>
                <img
                  class="game-banner"
                  src={page.frontmatter.image}
                  alt={page.frontmatter.title}
                />
                <div class="game-card-meta">
                  <h1 class="game-title">{page.frontmatter.title}</h1>

                  {page.frontmatter.categories.map((tag) => (
                    <a class="game-tag pod" href={`/games/categories/${tag}`}>
                      {tag}
                    </a>
                  ))}
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </section>
  <Paginator page={page} />
</MapLayout>
